# Data Types

Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

* Numbers
* List
* Tuples
* Strings
* Set
* Dictionary

## Numbers

Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python.

We can use the type() function to know which class a variable or a value belongs to and the isinstance() function to check if an object belongs to a particular class.

In [4]:
a = 6
print(a, "is of type", type(a))

6 is of type <class 'int'>

In [3]:
a = 2.0
print(a, "is of type", type(a))

2.0 is of type <class 'float'>

In [5]:
a = 2+6j
print(a, "is complex number?", isinstance(1+2j,complex))

(2+6j) is complex number? True

Integers can be of any length, it is only limited by the memory available.

## List

List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

Declaring a list is pretty straight forward. Items separated by commas are enclosed within brackets [ ].

In [7]:
a = [1, 2.2, 'python']
print(a)

[1, 2.2, 'python']

We can use the slicing operator [ ] to extract an item or a range of items from a list. Index starts form 0 in Python.

In [9]:
a = [5,10,15,20,25,30,35,40]
a

[5, 10, 15, 20, 25, 30, 35, 40]

In [10]:
# a[2] = 15
print("a[2] = ", a[2])

a[2] =  15

In [11]:
# a[0:3] = [5, 10, 15]
print("a[0:3] = ", a[0:3])

a[0:3] =  [5, 10, 15]

In [12]:
# a[5:] = [30, 35, 40]
print("a[5:] = ", a[5:])

a[5:] =  [30, 35, 40]


Lists are mutable, meaning, value of elements of a list can be altered.

In [21]:
a = [1,2,3]
a[2]=4
a

[1, 2, 4]

## Tuple

Tuple is an ordered sequence of items same as list.The only difference is that tuples are immutable. Tuples once created cannot be modified.

Tuples are used to write-protect data and are usually faster than list as it cannot change dynamically.

It is defined within parentheses () where items are separated by commas.

In [17]:
t = (5,'program', 1+3j)
t

(5, 'program', (1+3j))

We can use the slicing operator [] to extract items but we cannot change its value.

In [18]:
# t[1] = 'program'
print("t[1] = ", t[1])

t[1] =  program

In [19]:
# t[0:3] = (5, 'program', (1+3j))
print("t[0:3] = ", t[0:3])

t[0:3] =  (5, 'program', (1+3j))

## Strings

String is sequence of Unicode characters. We can use single quotes or double quotes to represent strings. Multi-line strings can be denoted using triple quotes, ''' or """.

In [23]:
s = "This is a string"
s

'This is a string'

Like list and tuple, slicing operator [ ] can be used with string. Strings are immutable.

In [24]:
s = 'Hello world!'

In [25]:
# s[4] = 'o'
print("s[4] = ", s[4])

s[4] =  o

In [26]:
# s[6:11] = 'world'
print("s[6:11] = ", s[6:11])

s[6:11] =  world

In [27]:
# Generates error
# Strings are immutable in Python
s[5] ='d'

TypeError: 'str' object does not support item assignment

## Set

Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. Items in a set are not ordered

In [29]:
a = {5,2,3,1,4,6}

In [30]:
# printing set variable
print("a = ", a)

a =  {1, 2, 3, 4, 5, 6}

In [31]:
# data type of variable a
print(type(a))

<class 'set'>

We can perform set operations like union, intersection on two sets. Set have unique values. They eliminate duplicates.

In [32]:
a = {1,2,2,3,3,3,4,5,6,4,5}
a

{1, 2, 3, 4, 5, 6}

Since, set are unordered collection, indexing has no meaning. Hence the slicing operator [] does not work.

In [34]:
a = {1,2,3,4,5,6}
a[2]

TypeError: 'set' object does not support indexing

## Dictionary

Dictionary is an unordered collection of key-value pairs.

It is generally used when we have a huge amount of data. Dictionaries are optimized for retrieving data. We must know the key to retrieve the value.

In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.

In [35]:
d = {1:'value','key':2}
type(d)

dict

We use key to retrieve the respective value. But not the other way around.

In [36]:
d = {1:'value','key':2}
print(type(d))

<class 'dict'>

In [37]:
print("d[1] = ", d[1]);

d[1] =  value

In [38]:
print("d['key'] = ", d['key']);

d['key'] =  2

In [39]:
# Generates error
print("d[2] = ", d[2]);

KeyError: 2

## Conversion between data types

We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [40]:
float(60)

60.0

Conversion from float to int will truncate the value (make it closer to zero).

In [41]:
int(22.66)

22

In [42]:
int(-22.66)

-22

Conversion to and from string must contain compatible values.

In [44]:
float('22')

22.0

In [45]:
str(22)

'22'

In [46]:
int('2sai')

ValueError: invalid literal for int() with base 10: '2sai'

We can even convert one sequence to another.

In [47]:
set([2,6,7,22,26])

{2, 6, 7, 22, 26}

In [50]:
tuple({2,6,7,22,26})

(26, 2, 6, 22, 7)

In [51]:
list('sai')

['s', 'a', 'i']

To convert to dictionary, each element must be a pair

In [52]:
dict([[1,2],[3,4],[6,7]])

{1: 2, 3: 4, 6: 7}

In [53]:
dict([(2,26),(6,22)])

{2: 26, 6: 22}